body {
  // background-image: url('./../assets/img/background.png');
  background-color: black;
  background-attachment: fixed;
  margin: 0;
  // overflow: hidden;
}

// #summary {
//   color: white;
// }
.addressForm {
  // display: none;
  width: 80%;
  height: 300px;
  margin: 0 auto;
  margin-top: 5%;
  // margin-top: 300px;
  .addresses {
    width: 100%;
    height: 200px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    input {
      width: 400px;
      height: 25px;
      margin: 0 auto;
    }
    label {
      margin: 0 auto;
      color: white;
    }
  }
  button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}
.mapContainer {
  display: none;
  margin-top: 4%;
  width: 100%;
  height: 1100px;
  #map {
    width: 80%;
    height: 900px;
    margin: 0 auto;
    display: none;
  }
}

.next48, .nextminutes {
  margin: 0 auto;
  margin-top: 4%;
  min-height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  #canvas, #pressure, #temp, #minutes{
    max-width: 900px;
    margin-top: 5%;
    min-width: 200px;
    margin: 0 auto;
    margin-top: 30px;
  }
}

.localWeather {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  display: none;
  min-height: 50px;
  flex: 1;
  .currentLocation {
    margin: 0 auto;
    // margin-top: 5%;
    width: 60%;
    min-height: 50px;
    background-color: #323233;
    text-align: center;
    p {
      color: white;
      font-size: 35px;
      margin: 0;
    }
  }
  .currently {
      width: 100%;
      height: 450px;
      justify-content: space-between;
      margin-top: 2%;
      .weatherInfo{
        margin: 0 auto;
        margin-top: 18vh;
        width: 100%;
        .weathertemp {
          margin: 0 auto;
          text-align: center;
          margin-top: 60%;
        }
          // margin-left: 7vw;
        }
        width: 300px;
        height: 450px;
        background-color: #323233;
        margin: 0 auto;
        margin-top: 2%;
        border-radius: 25px;
        color: white;
        .date {
          display: inline-block;
          font-size: 30px;
          width: 100%;
          text-align: center;
          margin: 0 auto;
        }
  }
  .week {
    width: 100%;
    min-height: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2%;
    .dayInfo {
      width: 300px;
      height: 450px;
      background-color: #323233;
      margin: 0 auto;
      margin-top: 4%;
      border-radius: 25px;
      color: white;
      .weatherInfo{
        margin: 0 auto;
        margin-top: 50px;
        width: 100%;
        .weathertemp {
          margin: 0 auto;
          margin-top: 60%;
          text-align: center;
        }
        // margin-left: 7vw;

      }
      .date {
        display: inline-block;
        font-size: 30px;
        width: 100%;
        text-align: center;
        margin: 0 auto;

      }
    }
  }
}

.dailySpecsGrid {
  display: none;
  .summary {
    display: grid;
    grid-template-areas:
    'moonInfo day blank'
    'sunInfo weatherIconInfo cloud'
    'uv summary pressure'
    'ozone wind humidity'
    'dewPoint precip tempInfo';
    min-height: 500px;
    width: 80%;
    margin: 0 auto;
    margin-top: 4%;
    background-color: #323233;
    color: white;
    border-radius: 25px;
    .moonInfo {
      grid-area: moonInfo;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      text-align: center;
    }
    #Day {
      margin: 0 auto;
      grid-area: day;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      text-align: center;
    }
    .weatherIconInfo {
      grid-area: weatherIconInfo;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      text-align: center;
    }
    .sunInfo {
      grid-area: sunInfo;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      text-align: center;
    }
    .cloudInfo {
      grid-area: cloud;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      text-align: center;
    }
    .uv {
      grid-area: uv;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      text-align: center;
    }
    #summary {
      grid-area: summary;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      text-align: center;
    }
    .pressure {
      grid-area: pressure;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      text-align: center;
    }
    .ozone {
      grid-area: ozone;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      text-align: center;
    }
    .wind {
      grid-area: wind;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .humidity {
      grid-area: humidity;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      text-align: center;
    }
    .dewPoint {
      grid-area: dewPoint;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      text-align: center;
    }
    .precipitationInfo {
      grid-area: precip;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      text-align: center;
    }
    .tempInfo {
      grid-area: tempInfo;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      text-align: center;
    }
    .blank {
      grid-area: blank;
    }
    grid-gap: 10px;
    // display: none;
  }



}





.darkskylogo {
  margin: 0 auto;
  margin-top: 100px;
  width: 400px;
  height: 400px;
  img {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .currentLocation{
    display: none;
  }
}
